*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    background-color: black;
    color: white;
}
.loginDiv{
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: 1px 2px 13px white; */
margin: 30px;
border-radius: 25px;
background:linear-gradient(white,blueviolet);

}
h1{
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 20px;
    color: blueviolet;
    text-transform: uppercase;
    font-family:sans-serif;
    font-size: 40px;
    text-shadow:1px 2px 8px black;
}
input{
    align-items: center;
    justify-content: center;
    text-align: left; 
    display:block;
    margin: 40px auto;
    height: 40px;
    width00px;
    padding: 10px;
    border-radius: 25px;
    background: blueviolet;
    color: white;
outline: none;
border: none;

}
label{
    color: black;
}
#submit{
    height: 40px;
    width: 100px;
    text-align: center;
    border:none;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
}
#submit:hover{
    cursor: pointer;
background:rgba(1, 1, 1,.6);
outline: none;
transition: all .6s  ease-in-out;
}
